<div class="row" style="padding-left: 15px; padding-right: 15px;">

  <div class="pull-left">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="viewBy"
               ng-click="setItemsPerPage(viewBy)"
               uib-btn-radio="5">5</label>
        <label class="btn btn-primary" ng-model="viewBy"
               ng-click="setItemsPerPage(viewBy)"
               uib-btn-radio="25">25</label>
        <label class="btn btn-primary" ng-model="viewBy"
               ng-click="setItemsPerPage(viewBy)"
               uib-btn-radio="50">50</label>
      </div>
  </div>

  <div class="pull-right" >
    <uib-pagination
          style="margin: 0px;"
          boundary-links="true"
          total-items="totalItems"
          ng-model="currentPage"
          items-per-page="itemsPerPage"
          first-text="<<"
          previous-text="<"
          next-text=">"
          last-text=">>">
    </uib-pagination>
  </div>

</div>