<form novalidate name="vm.form" role="form">
    <!--    ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }">  -->

    <div class="panel panel-default noborder">
        <div ng-show="vm.state==='dsEdit'" class="panel-heading">
            <span class="panel-title with-font-xlarge pull-left">
                {{vm.item.nom}}
            </span>
            <div class="pull-right">
                <button class="btn btn-link"
                        data-toggle="tooltip"
                        ng-click="vm.isCollapsed = !vm.isCollapsed"
                        uib-tooltip={{"COLLAPSE"|translate}}>
                    <span ng-show="!vm.isCollapsed"><i class="material-icons">keyboard_arrow_up</i></span>
                    <span ng-show="vm.isCollapsed"><i class="material-icons">keyboard_arrow_down</i></span>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div uib-collapse="vm.isCollapsed">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6 col-sm-6-col-xs-6">
                        <div class="form-group" data-ng-class="{'has-error': vm.form.$submitted && vm.form.nom_input.$invalid}">
                            <label for="nom_input_id">
                                {{"NOM"|translate}}<span style="color: red;" data-uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                            </label>
                            <input auto-focus
                                   required
                                   autocomplete="off"
                                   class="form-control input k-textbox"
                                   focus-on="nom_input_focus"
                                   id="nom_input_id"
                                   name="nom_input"
                                   data-ng-model="vm.item.nom"
                                   type="text"/>
                            <validate-input form="vm.form" field="vm.form.nom_input"></validate-input>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="epicerieId_select_edit_id">
                                {{"EPICERIE"|translate}}
                            </label>
                            <select data-kendo-combo-box
                                    data-k-options="vm.selectOptionsEpicerie"
                                    data-k-ng-model="vm.item.epicerieId"

                                    id="epicerieId_select_edit_id"
                                    name="epicerieId_select"
                                    style="width: 100%">
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div static-include="app/shared/partials/bottom-save-cancel.html"></div>
                </div>

            </div>
        </div>
    </div>

    <div ng-show="vm.state==='dsEdit'" class="panel panel-default noborder">
        <div class="panel-body" style="padding:0">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xm-6 form-group">
                    <div class="well" style="height: 60px;padding-right: 8px;
                          margin-bottom:0px;">Produits
                        <div style="position: absolute; top: 12px; right: 20px"
                             ng-mouseover="vm.openSearch1"
                             ng-click="vm.search1Open=!vm.search1Open">
                            <i class="material-icons md-36 cursor">search</i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="input-group input-group-md" ng-show="vm.search1Open">
                        <input autocomplete="off"
                               class="k-textbox"
                               focus-on="search1Item_focus"
                               id="searchItem_input_id"
                               name="searchItem_input"
                               ng-keyup="cancelEsc($event)"
                               ng-model="searchItem"
                               placeholder={{"RECHERCHE"|translate}}
                               type="text"
                               style="height: 39px !important;">
                               <span class="input-group-btn">
                                   <button type="button"
                                            class="btn btn-primary"
                                            style="margin-left:0px !important; padding-top:9px !important; padding-bottom:9px !important;"
                                            ng-click="vm.search1Open = false; clearSearch()"
                                            uib-tooltip-html="tips">
                                            <i class="material-icons">close</i>
                                   </button>
                               </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xm-6 form-group">
                    <div class="well" style="height: 60px;padding-right: 8px;
                         margin-bottom:0px;">Produits
                        <div style="position: absolute; top: 12px; right: 60px"
                             ng-click="vm.emptyBaseList">
                            <i class="material-icons md-36 cursor">delete</i>
                        </div>
                         <div style="position: absolute; top: 12px; right: 20px"
                              ng-mouseover="vm.openSearch2"
                              ng-click="vm.search2Open=!vm.search2Open">
                              <i class="material-icons md-36 cursor">search</i>
                         </div>
                         <div class="clearfix"></div>
                    </div>
                    <div class="input-group input-group-md" ng-show="vm.search2Open">
                        <input autocomplete="off"
                               class="k-textbox"
                               focus-on="search2Item_focus"
                               id="search2Item_input_id"
                               name="search2Item_input"
                               ng-keyup="cancelEsc($event)"
                               ng-model="search2Item"
                               placeholder={{"RECHERCHE"|translate}}
                               type="text"
                               style="height: 39px !important;">
                        <span class="input-group-btn">
                                   <button type="button"
                                           class="btn btn-primary"
                                           style="margin-left:0px !important; padding-top:9px !important; padding-bottom:9px !important;"
                                           ng-click="vm.search2Open = false; clearSearch()"
                                           uib-tooltip-html="tips">
                                            <i class="material-icons">close</i>
                                   </button>
                               </span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6">

                    <div class="col-md-3 col-sm-3 col-xm-3  well" style="font-size: 14px; padding: 15px;">

                        Filtres
                        <ul class="nobullet">
                            <div ng-repeat="categorieSel in vm.categoriesSel">
                                <li style="margin-right:-15px; color: black;">
                                    {{categorieSel.categorie}}
                                    <i ng-click="vm.categorieRemove(categorieSel)" class="material-icons md-hover-16 cursor">clear</i>
                                </li>
                            </div>
                        </ul>

                        <br>


                        Catégories
                        <ul class="square">
                            <div ng-repeat="categorie in vm.categories">
                                <li ng-click="vm.addCategorie(categorie)" style="text-decoration: none; color: black; cursor:pointer">
                                    {{categorie.categorie}}
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="col-md-9 col-sm-9 col-xm-9" style="padding-right: 0;">
                        <div ui-sortable="vm.sortableProduitsOptions" class="apps-container screen"  ng-model="vm.produits" >
                            <div class="app"
                                 data-produit_id="{{produit._id}}"
                                 data-produit="{{produit.produit}}"
                                 data-marque="{{ produit.marqueId.marque }}"
                                 data-categorie="{{ produit.categorieId.categorie }}"
                                 data-conditionnenent="{{produit.fullConditionnement}}"
                                 data-note="{{produit.description}}"
                                 ng-repeat="produit in vm.produits">

                                <div>
                                    {{ produit.produit }}
                                    <span ng-show="produit.marqueId.marque"> {{ produit.marqueId.marque }} </span>
                                    <span style="float:right; font-size: 0.7em;">
                                        {{ produit.categorieId.categorie | uppercase}}
                                    </span>
                                    <br>
                                    <span style=" font-size: 0.7em;" ng-show="produit.fullConditionnement">
                                        {{produit.fullConditionnement}}
                                    </span>
                                    <span style="float:right;" ng-show="produit.description">
                                        <i class="material-icons" uib-tooltip={{produit.description}} style="cursor: pointer;" aria-hidden="true">note</i>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xm-6">
                    <div ui-sortable="vm.sortableItemsOptions" class="apps-container screen"  ng-model="vm.items" >
                        <div class="app"
                             id="{{item._id}}"
                             ng-repeat="item in vm.item.listeBaseDetail">

                            <div>
                                {{ item.produit }}
                                <span ng-show="item.marque"> {{item.marque}} </span>

                                <span style="float:right;">
                                  <i class="material-icons md-hover-16 cursor"
                                     aria-hidden="true" ng-click="vm.removeItem(vm.produits, vm.item, item)">clear</i>
                                </span>

                                <span style="float:right; font-size: 0.7em; padding: 3px;">
                                        {{ item.categorie | uppercase}}
                                    </span>
                                <br>
                                <span style=" font-size: 0.7em;" ng-show="item.conditionnement">
                                        {{item.conditionnement}}
                                    </span>
                                <span style="float:right;" ng-show="item.description">
                                        <i class="material-icons" uib-tooltip={{item.description}} style="cursor: pointer;" aria-hidden="true">note</i>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<!--
<div class="form-group" data-ng-class="{'has-error': vm.form.$submitted && vm.form.nom_input.$invalid}">
    <label for="nom_input_id">
        {{"NOM"|translate}}<span style="color: red;" data-uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
    </label>
    <input auto-focus
           required
           autocomplete="off"
           class="form-control input k-textbox"
           focus-on="nom_input_focus"
           id="nom_input_id"
           name="nom_input"
           data-ng-model="vm.item.nom"
           type="text"/>
    <validate-input form="vm.form" field="vm.form.nom_input"></validate-input>
</div> -->