<!-- Search box -->
<div class="input-group input-group-md" style="padding: 10px; padding-bottom: 20px;">
    <input autocomplete="off"
           class="form-control"
           focus-on="searchItem_focus"
           id="searchItem_input_id"
           name="searchItem_input"
           ng-keyup="cancelEsc($event)"
           ng-model="searchItem"
           placeholder="Recherche..."
           type="text">
    <div class="input-group-btn">
        <button class="btn btn-default"
                title="Initialiser la recherche"
                type="button"
                ng-click="clearSearchItem()">
                <i class="material-icons md-16">close</i>
        </button>
    </div>
</div>