@import "../variables";

#listeWrapper{
  width:100%;
  display:block;
  height: auto;
}

#listeLeft{
  font-size: 12px;
  width:30%;
  height:auto;
  background:white;
  display:block;
  float: left;
  border:1px solid;
  padding-top: 3px;
  padding-right: 0px;
  padding-left: 3px;
}

#listeRight{
  width: 68%;
  height:auto;
  background:white;
  display:block;
  float:left;
  margin-left: 10px;
}

.nobullet {
  list-style-type: none;
  margin: 0 0 0 -2em;
}

.square {
  list-style-type: square;
  margin: 0 0 0 -1em;
}

