<form novalidate name="vm.form" role="form">
   <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.prenom_input.$invalid}">
                <label for="prenom_input_id">
                    {{"PRENOM"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input auto-focus
                       required
                       autocomplete="off"
                       class="form-control input k-textbox"
                       focus-on="prenominput__focus"
                       id="prenom_input_id"
                       name="prenom_input"
                       ng-model="vm.item.prenom"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.prenom_input"></validate-input>
            </div>
        </div>



       <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.nom_input.$invalid}">
                <label for="nom_input_id">
                    {{"NOM"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input k-texbox"
                       focus-on="nom_inout_focus"
                       id="nom_input_id"
                       name="nom_input"
                       ng-model="vm.item.nom"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.nom_input"></validate-input>
            </div>
        </div>
   </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.courriel_input.$invalid}">
                <label for="courriel_input_id">
                    {{"COURRIEL"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       focus-on="courriel_input_focus"
                       id="courriel_input_id"
                       name="courriel_input"
                       ng-model="vm.item.courriel"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.courriel_input"></validate-input>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.courrielAlt_input.$invalid}">
                <label for="courriel_alt_input_id">
                    {{"COURRIELALT"|translate}}
                </label>
                <input autocomplete="off"
                       class="form-control input"
                       focus-on="courriel_alt_focus"
                       id="courriel_alt_input_id"
                       name="courriel_alt_input"
                       ng-model="vm.item.courrielAlt"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.courrielAlt_input"></validate-input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <input ng-model="vm.item.partagerInfoProduit"
                   name="partagerInfoProduit_checkbox"
                   type="checkbox"
                   style="margin-top: 0px;"/>
            Partager les informations des produits anonymement
        </div>

        <div class="col-md-6 form-group">
            <a href="#">Modifier mot de passe</a>
        </div>
    </div>

    <div class="row">
        <div static-include="app/shared/partials/bottom-save-cancel.html"></div>
    </div>

</form>








