.my-animation.ng-enter {
  -webkit-animation: flipInY 1s;
  -moz-animation: flipInY 1s;
  animation: flipInY 1s;
}

/*
.my-animation.ng-leave {
  -webkit-animation: flipOutY 1s;
  -moz-animation: flipOutY 1s;
  animation: flipOutY 1s;
}
*/


