<form novalidate name="vm.form" role="form">
    <!--  ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }"> -->

    <div class="row" style="padding-top: 15px;">

        <div class="col-md-4 form-group">

            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.produit_input.$invalid}">
                <label for="produit_input_id">
                    {{"PRODUIT"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input auto-focus
                       autocomplete="off"
                       required
                       class="form-control input k-textbox"
                       ng-model="vm.item.produit"
                       focus-on="produit_input_focus"
                       id="produit_input_id"
                       name="produit_input"
                       style="width: 100%;"
                       type="text"/>
                       <validate-input form="vm.form" field="vm.form.produit_input"></validate-input>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label for="marque_input_id">
                {{"MARQUE"|translate}}
            </label>
            <select data-kendo-combo-box="vm.marqueWidget"
                    data-k-options="vm.selectOptionsMarque"
                    data-k-ng-model="vm.item.marqueId"
                    id="marque_input_id"
                    name="marque_input"
                    style="width: 100%">
            </select>
        </div>

        <!-- data-k-ng-model est requis pour obtenir le détail de catégorie pour les calculs -->
        <!-- data-ng-model est requis pour l'attribut required-->

        <div class="col-md-3 form-group">
            <div class="form-group" >
                <label for="categorieId_select_id">
                    {{"CATEGORIE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <select required
                        data-kendo-combo-box="vm.categorieWidget"
                        data-k-options="vm.selectOptionsCategorie"
                        data-k-ng-model="vm.item.categorieId"
                        data-ng-model="vm.item.categorieId"
                        ng-class="{'has-error': vm.form.$submitted && vm.form.categorieId_select.$invalid}"
                        id="categorieId_select_id"
                        name="categorieId_select"
                        style="width: 100%">
                </select>
                <validate-input form="vm.form" field="vm.form.categorieId_select"></validate-input>
            </div>

        </div>

        <div class="col-md-1 col-sm-1 col-xs-1" style="height: 66px; padding-top:27px">
            <button class="btn"
                    style="height: 37px;"
                    data-toggle="tooltip"
                    ng-click="vm.collapse()"
                    uib-tooltip={{"DESCRIPTION_SUPP"|translate}}>
                    <i ng-show="vm.isCollapsed" class="material-icons">keyboard_arrow_down</i>
                    <i ng-show="!vm.isCollapsed" class="material-icons">keyboard_arrow_up</i>
            </button>
        </div>

    </div>


    <div class="row" uib-collapse="vm.isCollapsed">
        <div class="col-md-12 form-group">
            <label for="description_input_id">
                {{"DESCRIPTION"|translate}}
            </label>
            <textarea autocomplete="off"
                      class="k-textbox"
                      data-ng-model="vm.item.description"
                      id="description_input_id"
                      focus-on="description_textArea_focus"
                      name="description_input"
                      style="width: 100%; min-height: 75px"
                      type="text"></textarea>
        </div>
    </div>

    <div class="panel panel-default noborder" style="padding-left: 15px; padding-right: 15px; padding-bottom: 0">

        <div class="panel-heading"><b> {{"COUTPAR"|translate}}</b>
            <i class="material-icons md-18">help_outline</i>
        </div>

        <div class="panel-body" style="padding-bottom: 0">

            <div class="row">

                <div class="col-md-2 form-group">
                    <label for="quantite_input_id">
                        {{"QUANTITE"|translate}}
                    </label>
                    <input autocomplete="off"
                           data-kendo-numeric-text-box
                           data-k-min="0"
                           id="quantite_input_id"
                           name="quantite_input"
                           ng-model="vm.item.quantite"
                           style="width: 100%;"
                           type="number"/>
                </div>

                <div class="col-md-4 form-group">
                    <label for="formatId_input_id">
                        {{"FORMAT"|translate}}
                    </label>
                    <select data-kendo-combo-box="vm.formatWidget"
                            data-k-options="vm.selectOptionsFormat"
                            data-k-ng-model="vm.item.formatId"
                            id="formatId_input_id"
                            name="formatId_select"
                            style="width: 100%">
                    </select>
                </div>

                <div class="col-md-2 form-group">
                    <label for="nombre_input_id">
                        {{"NOMBRE"|translate}}
                    </label>
                    <input autocomplete="off"
                           data-kendo-numeric-text-box
                           data-k-min="0"
                           id="nombre_input_id"
                           name="nombre_input"
                           ng-model="vm.item.nombre"
                           style="width: 100%;"
                           type="number"/>
                </div>
                <div class="col-md-4 form-group">
                    <label for="unite_input_id">
                        {{"UNITE"|translate}}
                    </label>
                    <!-- Must be k-value and primitive=false -->
                    <select data-kendo-drop-down-list
                            data-k-options="vm.selectOptionsUnite"
                            data-k-ng-model="vm.item.uniteId"
                            id="unite_input_id"
                            name="uniteId_select"
                            style="width: 100%">
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default noborder" style="padding-left: 15px; padding-right: 15px; padding-top: 10px">

        <div class="panel-heading"><b> {{"HISTORIQUEDEPRIX"|translate}}</b>
            <i class="material-icons md-18">help_outline</i>
        </div>

        <div class="panel-body" style="padding-bottom: 0">

            <div class="row">

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                        <label for="prix_input_id">
                            <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                               ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                                {{"PRIX"|translate}}
                                <span ng-show="!vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_down</i></span>
                                <span ng-show="vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_up</i></span>
                            </a>
                        </label>
                        <input
                               autocomplete="off"
                               data-kendo-numeric-text-box
                               data-k-min="0.00"
                               id="prix_input_id"
                               name="prix_input"
                               ng-class="{'has-error': vm.addHisto && vm.form.prix_input.$invalid}"
                               ng-model="vm.insertHisto.prix"
                               ng-required="vm.addHisto && !vm.insertHisto.prix"
                               type="number"
                               style="width: 100%"/>
                                <div class="error-message">
                                    <ng-messages for="vm.form.prix_input.$error">
                                        <ng-message when="required"> Une valeur est requise. </ng-message>
                                    </ng-messages>
                                </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label for="epicerieId_select_edit_id">
                            {{"EPICERIE"|translate}}
                        </label>
                        <select data-kendo-drop-down-list
                                data-k-options="vm.selectOptionsEpicerie"
                                data-k-ng-model="vm.insertHisto.epicerieId"
                                data-ng-model="vm.insertHisto.epicerieId"
                                id="epicerieId_select_edit_id"
                                name="epicerieId_select"
                                ng-required="vm.addHisto && !vm.insertHisto.epicerieId"
                                ng-class="{'has-error':  vm.addHisto && vm.form.epicerieId_select.$invalid}"
                                style="width: 100%">
                        </select>
                        <div class="error-message">
                            <ng-messages for="vm.form.epicerieId_select.$error">
                                <ng-message when="required">Une valeur est requise.</ng-message>
                            </ng-messages>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                        <label for="epicerieId_select_edit_id">
                            {{"DATE"|translate}}
                        </label>
                        <input data-kendo-date-picker
                               data-k-options="vm.datePickerOptions"
                               ng-model="vm.insertHisto.date"
                               id="date_input_id2"
                               name="date_input"
                               style="width: 100%"/>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2" style="height: 66px; padding-top:27px">
                    <toggle id="enPromotion_toogle_id"
                            style="height: 37px"
                            onstyle="btn-success"
                            ng-model="vm.insertHisto.enPromotion"
                            ng-change="changed()" on="En promotion  " off="Prix régulier  ">
                    </toggle>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2" style="height: 66px; padding-top:27px; text-align: right; padding-right:0">
                    <button class="btn btn-primary"
                            style="height: 37px;"
                            data-toggle="tooltip"
                            ng-click="vm.createHisto()">
                            <i class="material-icons">add</i>
                            Ajouter
                    </button>
                </div>

            </div>
        </div>

        {{histo[0]}}

        <div data-ng-show="vm.item.historiques.length > 0">
            <div data-ng-hide="histo.statut == 'D'"
                 data-ng-repeat="histo in (vm.item.historiques).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
                                 ((vm.pagination.currentPage)*vm.pagination.itemsPerPage))  | orderBy : vm.sorting.type:vm.sorting.reverse">
                <div class="row" style="padding-bottom: 5px">
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 30px; padding-top: 5px">
                        {{histo.prix | currency}}
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left: 30px; padding-top: 5px">
                        {{histo.epicerieId.epicerie}}
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 20px; padding-top: 5px">
                        {{histo.date | amDateFormat:'YYYY/MM/DD' }}
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 20px; padding-top: 5px">
                        {{histo.enPromotion ? "En promotion" : "Prix régulier"}}
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="padding-top: 5px">
                        {{(histo.prix) | coutPar:vm.item.quantite:vm.item.nombre:vm.item.uniteId.operation:vm.item.uniteId.nombre:vm.item.uniteId.coutParId.abreviation}}
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="text-align: right;">
                        <button class="btn btn-danger btn-sm"
                                data-toggle="tooltip"
                                ng-click="vm.deleteHisto(histo)"
                                uib-tooltip={{DETRUIRE_HISTORIQUE|translate}}>
                                <i class="material-icons md-16">delete</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div static-include="app/shared/partials/bottom-save-cancel.html"></div>
    </div>

</form>


