<div clas="row">
    <search-item
        search-item="vm.searchItem">
    </search-item>
</div>
<div clas="row">
    <table class="table  table-borderless">
        <thead>
        <tr style="display: hidden">
            <th class="col-md-3 col-sm-3">
                <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                   ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                    {{"PRODUIT"|translate}}
                    <span ng-show="!vm.sorting.reverse" class="fa fa-caret-down"></span>
                    <span ng-show="vm.sorting.reverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th class="col-md-2 col-sm-2">
                {{"CATEGORIE"|translate}}
            </th>
            <th class="col-md-3 col-sm-3">
                {{"CONDITIONNEMENT"|translate}}
            </th>
            <th class="col-md-2 col-sm-2">
                {{"PRIXRECENT"|translate}}
            </th>
            <th class="col-md-2 col-sm-2">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in (vm.items | filter: vm.searchItem).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
                ((vm.pagination.currentPage)*vm.pagination.itemsPerPage)) | orderBy : vm.sorting.type:vm.sorting.reverse">
            <td class="col-md-3 col-sm-3">
                {{item.produit}}
            </td>
            <td class="col-md-2 col-sm-2">
                {{item.categorieId.categorie}}
            </td>
            <td class="col-md-3 col-sm-3">
                {{item.quantite}} {{item.formatId.format}} ({{item.nombre}} {{item.uniteId.unite}})
            </td>
            <td class="col-md-2 col-sm-2">
                {{item.prix | currency}}
            </td>
            <td class="col-md-2 col-sm-2" style="text-align: right;">
                <button class="btn btn-primary btn-sm"
                        data-toggle="tooltip"
                        ng-click="vm.setEdit(item)"
                        uib-tooltip={{"HINT_EDITER_PRODUIT"|translate}}>
                    <span class="fa fa-pencil fa-lg"></span>
                </button>
                <button class="btn btn-danger btn-sm"
                        data-toggle="tooltip"
                        ng-click="vm.remove(item)"
                        uib-tooltip={{"HINT_DETRUIRE_PRODUIT"|translate}}>
                    <span class="fa fa-trash-o fa-lg"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination
        view-by="vm.pagination.viewBy"
        total-items="vm.items.length"
        current-page="vm.pagination.currentPage"
        items-per-page="vm.pagination.itemsPerPage">
    </pagination>

</div>

