<div class="row">
    <nav class="navbar nav-custom-pilotage">
        <div class="container-fluid">
            <p class="navbar-text">{{"PRODUIT"|translate}}</p>
            <span class="navbar-form navbar-right">
                <div ng-show="vm.state == 'dsBrowse'">
                    <button class="btn btn-primary"
                            data-toggle="tooltip"
                            ng-click="vm.setInsert()"
                            uib-tooltip={{"HINT_AJOUTER"|translate}}>
                            <i class="material-icons md-14">add</i> {{"AJOUTER"|translate}}
                    </button>
                </div>
                <div ng-show="vm.state != 'dsBrowse'">
                    <button class="btn btn-primary"
                            data-toggle="tooltip"
                            ng-click="vm.cancel()"
                            uib-tooltip={{"RETOUR_LISTE"|translate}}>
                            <i class="material-icons md-14">view_list</i>
                    </button>
                </div>
            </span>
        </div>
    </nav>
</div>

<div class="row" ng-show="vm.state == 'dsBrowse'" style="padding-top: 10px; padding-bottom: 25px;">
    <div class="col-md-6" style="padding-left: 0;">
        <div class="input-group">
            <select
                    data-kendo-multi-select
                    data-k-options="vm.selectOptionsMultiCategories"
                    data-k-ng-model="vm.selectedCategories"
                    style="width: 100%;"
                    id="categories_input_id">
            </select>
            <span class="input-group-btn">
                <button type="button"
                        class="btn btn-primary"
                        data-ng-click="vm.filterCategorie()"
                        style="margin-left:1px !important; padding-top:9px !important; padding-bottom:9px !important;"
                        uib-tooltip={{"APPLIQUER_SELECTION"|translate}}>
                        <i class="material-icons">close</i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0;">
        <search-item
                search-item="vm.searchItem">
        </search-item>
    </div>
</div>

<div class="row">
    <div>
        <div ng-cloak ng-show="vm.state != 'dsBrowse'" static-include="app/produit/produit.edit.html"></div>
        <div ng-cloak ng-show="vm.state == 'dsBrowse'" static-include="app/produit/produit.list.html"></div>
    </div>
</div>
