<div style="margin: 0px;">
    <table class="table borderless">
        <thead>
        <tr style="display: hidden">
            <th class="col-md-2 col-sm-2 col-xs-2">
                <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                   data-ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                    {{"PRODUIT"|translate}}
                    <span data-ng-show="!vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_down</i></span>
                    <span data-ng-show="vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_up</i></span>
                </a>
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2">
                {{"CATEGORIE"|translate}}
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2">
                {{"EPICERIE"|translate}}
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2">
                {{"CONDITIONNEMENT"|translate}}
            </th>
            <th class="col-md-1 col-sm-1 col-xs-1">
                {{"PRIX"|translate}}
            </th>
            <th class="col-md-1 col-sm-1 col-xs-1">
                {{"COUTPAR"|translate}}
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in (vm.items | filter: vm.searchItem).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
                ((vm.pagination.currentPage)*vm.pagination.itemsPerPage)) | orderBy : vm.sorting.type:vm.sorting.reverse">
            <td class="col-md-2 col-sm-2 col-xs-2">
                {{item.produit}}
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2">
                {{item.categorieId.categorie}}
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2">
                {{item.epicerie}}
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2">
                {{item.quantite}} {{item.formatId.format}} ({{item.nombre}} {{item.uniteId.abreviation}})
            </td>
            <td class="col-md-1 col-sm-1 col-xs-1">
                {{item.prix | currency}}
            </td>
            <td class="col-md-1 col-sm-1 col-xs-1">
                {{(item.prix) | coutPar:item.quantite:item.nombre:item.uniteId.operation:item.uniteId.nombre:item.uniteId.coutParId.abreviation}}
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2" style="text-align: right;">
                <button class="btn btn-primary btn-sm"
                        data-toggle="tooltip"
                        data-ng-click="vm.setEdit(item)"
                        data-uib-tooltip={{"HINT_EDITER_PRODUIT"|translate}}>
                        <i class="material-icons md-16">edit</i>
                </button>
                <button class="btn btn-danger btn-sm"
                        data-toggle="tooltip"
                        data-ng-click="vm.remove(item)"
                        data-uib-tooltip={{"HINT_DETRUIRE_PRODUIT"|translate}}>
                        <i class="material-icons md-16">delete</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<pagination
    view-by="vm.pagination.viewBy"
    total-items="vm.items.length"
    current-page="vm.pagination.currentPage"
    items-per-page="vm.pagination.itemsPerPage">
</pagination>



