<div class="panel panel-default noborder" style="padding-left: 15px; padding-right: 15px; padding-top: 10px">

    <div class="panel-heading"><b> {{"HISTORIQUEDEPRIX"|translate}}</b>
        <i class="material-icons md-18">help_outline</i>
    </div>

    <div class="panel-body" style="padding-bottom: 0">

        <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <label for="prix_input_id">
                        <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                           tabIndex="-1"
                           data-ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                            {{"PRIX"|translate}}<span style="color: lightgray;" uib-tooltip={{"PRIX_EPICERIE"|translate}}>*</span>
                            <span data-ng-show="!vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_down</i></span>
                            <span data-ng-show="vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_up</i></span>
                        </a>
                    </label>
                    <input
                        autocomplete="off"
                        data-kendo-numeric-text-box
                        data-k-min="0.00"
                        id="prix_input_id"
                        name="prix_input"
                        data-ng-model="vm.insertHisto.prix"
                        type="number"
                        style="width: 100%"/>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"EPICERIE"|translate}}<span style="color: lightgray;" uib-tooltip={{"PRIX_EPICERIE"|translate}}>*</span>
                    </label>
                    <select data-kendo-combo-box="vm.epicerieWidget"
                            data-k-options="vm.selectOptionsEpicerie"
                            data-k-ng-model="vm.insertHisto.epicerieId"
                            id="epicerieId_select_edit_id"
                            name="epicerieId_select"
                            style="width: 100%">
                    </select>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"DATE"|translate}}
                    </label>
                    <input data-kendo-date-picker
                           data-k-options="vm.datePickerOptions"
                           data-ng-model="vm.insertHisto.date"
                           id="date_input_id2"
                           name="date_input"
                           style="width: 100%"/>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2" style="height: 66px; padding-top:27px">
                <toggle id="enPromotion_toogle_id"
                        style="height: 37px"
                        onstyle="btn-success"
                        ng-model="vm.insertHisto.enPromotion"
                        ng-change="changed()" on="En promotion  " off="Prix régulier  ">
                </toggle>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2" style="height: 66px; padding-top:27px; text-align: right; padding-right:0">
                <button class="btn btn-primary"
                        style="height: 37px;"
                        data-toggle="tooltip"
                        data-ng-click="vm.createHisto()"
                        data-ng-disabled="!vm.insertHisto.epicerieId || !vm.insertHisto.prix">
                    <i class="material-icons">add</i>
                    Ajouter
                </button>
            </div>

        </div>
    </div>

    <div data-ng-show="vm.item.historiques.length > 0">
        <div data-ng-hide="histo.statut == 'D'"
             data-ng-repeat="histo in (vm.item.historiques).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
                                 ((vm.pagination.currentPage)*vm.pagination.itemsPerPage))  | orderBy : vm.sorting.type:vm.sorting.reverse">
            <div class="row" style="padding-bottom: 5px">
                <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 30px; padding-top: 5px">
                    {{histo.prix | currency}}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left: 30px; padding-top: 5px">
                    {{histo.epicerieId.epicerie}}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 20px; padding-top: 5px">
                    {{histo.date | amDateFormat:'YYYY/MM/DD' }}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left: 20px; padding-top: 5px">
                    {{histo.enPromotion ? "En promotion" : "Prix régulier"}}
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="padding-top: 5px">
                    {{(histo.prix) | coutPar:vm.item.conditionnement.quantite:vm.item.conditionnement.nombre:vm.item.uniteId.operation:vm.item.uniteId.nombre:vm.item.uniteId.coutParId.abreviation}}
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="text-align: right;">
                    <button class="btn btn-danger btn-sm"
                            data-toggle="tooltip"
                            data-ng-click="vm.deleteHisto(histo)"
                            uib-tooltip={{DETRUIRE_HISTORIQUE|translate}}>
                        <i class="material-icons md-16">delete</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>