<div class="panel panel-default noborder" style="padding-left: 15px; padding-right: 15px; padding-top: 10px">

    <div class="panel-heading"><b> {{"PRIX"|translate}}</b>
        <i class="material-icons md-18">help_outline</i>
    </div>

    <div class="panel-body" style="padding-bottom: 0">

        <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <label for="prix_input_id">
                        <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                           tabIndex="-1"
                           ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                            {{"PRIX"|translate}}
                            <span ng-show="!vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_down</i></span>
                            <span ng-show="vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_up</i></span>
                        </a>
                    </label>
                    <input
                            autocomplete="off"
                            data-kendo-numeric-text-box
                            data-k-min="0.00"
                            id="prix_input_id"
                            name="prix_input"
                            data-ng-model="vm.item.prix"
                            type="number"
                            style="width: 100%"/>
                    <div class="error-message">
                        <ng-messages for="vm.form.prix_input.$error">
                            <ng-message when="required"> Une valeur est requise. </ng-message>
                        </ng-messages>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"EPICERIE"|translate}}
                    </label>
                    <select data-kendo-combo-box="vm.epicerieWidget"
                            data-k-options="vm.selectOptionsEpicerie"
                            data-k-ng-model="vm.item.epicerieId"
                            data-ng-model="vm.item.epicerieId"
                            id="epicerieId_select_edit_id"
                            name="epicerieId_select"

                            style="width: 100%">
                    </select>
                    <div class="error-message">
                        <ng-messages for="vm.form.epicerieId_select.$error">
                            <ng-message when="required">Une valeur est requise.</ng-message>
                        </ng-messages>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"DATE"|translate}}
                    </label>
                    <input data-kendo-date-picker
                           data-k-options="vm.datePickerOptions"
                           ng-model="vm.item.date"
                           id="date_input_id2"
                           name="date_input"
                           style="width: 100%"/>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2" style="height: 66px; padding-top:27px">
                <toggle id="enPromotion_toogle_id"
                        style="height: 37px"
                        onstyle="btn-success"
                        ng-model="vm.item.enPromotion"
                        ng-change="changed()" on="En promotion  " off="Prix régulier  ">
                </toggle>
            </div>

        </div>
    </div>

</div>