<form novalidate name="vm.form" role="form">
    <!--   ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }"> -->

    <div class="row">

        <div class="col-md-8">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.unite_input.$invalid}">
                <label for="unite_input_id">
                    {{"UNITE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       focus-on="unite_focus"
                       id="unite_input_id"
                       name="unite_input"
                       ng-model="vm.item.unite"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.unite_input"></validate-input>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.abbreviation_input.$invalid}">
                <label for="abreviation_input_id">
                    {{"ABR"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       id="abreviation_input_id"
                       name="abbreviation_input"
                       ng-model="vm.item.abreviation"
                       type="text"/>
                <validate-input form="vm.form" field="vm.form.abreviation_input"></validate-input>
            </div>
        </div>

    </div>

    <div class="panel panel-default noborder" style="padding: 15px;">

        <div class="panel-heading"><b> {{"COUTPAR"|translate}}</b>
            <i class="material-icons md-18">help_outline</i>
        </div>

        <div class="panel-body">

            <div class="row">

                <div class="col-md-2 form-group">
                <label for="unite2_input_id">
                    {{"UNEUNITE"|translate}}</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       id="unite2_input_id"
                       name="unite2_input"
                       ng-model="vm.item.unite"
                       ng-disabled="true"
                       type="text"/>
                </div>

                <div class="col-md-2 form-group">
                    <label for="operation_input_id">
                        Opération
                    </label>
                    <select data-kendo-drop-down-list
                            data-k-ng-model="vm.item.operation"
                            id="operation_input_id"
                            focus-on="operation_focus"
                            name="operation_input"
                            style="width: 100%;">
                            <option value="Divisé par">Divisé par</option>
                            <option value="Multiplié par">Multiplié par</option>
                    </select>
                </div>

                <div class="col-md-2 form-group">
                    <label for="nombre_input_id">
                        {{"NOMBRE"|translate}}
                    </label>
                    <input autocomplete="off"
                           data-kendo-numeric-text-box
                           data-k-min="0"
                           data-k-decimals="2"
                           data-k-restrict-decimals="true"
                           data-k-spinners="true"
                           id="nombre_input_id"
                           focus-on="nombre_focus"
                           name="nombre_input"
                           ng-model="vm.item.nombre"
                           style="width: 100%;"
                           type="number"/>
                </div>

                <div class="col-md-4 form-group">
                    <label for="CoutParId_input_id">
                        {{"EGALE"|translate}}
                    </label>
                    <select data-kendo-combo-box
                            data-k-options="vm.selectOptionsCoutParId"
                            data-k-ng-model="vm.item.coutParId._id"
                            id="CoutParId_input_id"
                            name="coutParId_select"
                            style="width: 100%">
                    </select>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <br>
        <div class="col-md-12 pull-right" style="text-align: right">
            <button class="btn btn-primary btn"
                    data-toggle="tooltip"
                    ng-click="vm.save(vm.form, vm.item, false)">
                    <i class="material-icons md-14">check</i>
                    {{"ENREGISTRER"|translate}}
            </button>
            <button class="btn btn-danger btn"
                    data-toggle="tooltip"
                    ng-click="vm.cancel()">
                    <i class="material-icons md-14">close</i>
                    {{"ANNULER"|translate}}
            </button>
        </div>
    </div>


</form>








