@import "variables";

/**
    sets base style for each page
**/

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height:100%;
}

body{
  font-family: "FontAwesome", Verdana, Helvetica, sans-serif;
  min-height:100%; // Workaround for some mobile browsers
}

// remove all corner
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}



/**
    backroung caddy when no authentification
 **/
.caddy-bg {
  /* This image will be displayed fullscreen */
  background:url('../images/back01.jpg') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;
  background-size: cover;
}

