@import "variables";

.help-block {
  font-size: 85%;
}

//.form-control:focus{border-color: $accent-color;  box-shadow: none; -webkit-box-shadow: none;}
//.has-error .form-control:focus{border-color: $danger-color;  box-shadow: none; -webkit-box-shadow: none;}


.error-message {
  margin-top: 5px;
  font-size: 70%;
  color: $danger-color;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: $danger-color;
}

.has-error .form-control {
  border-color: $danger-color;
  -webkit-box-shadow: none;
  box-shadow: none
}

.has-error .form-control:focus {
  border-color: $danger-color !important;
  -webkit-box-shadow: none;
  box-shadow: none
}

.has-error .input-group-addon {
  color: $danger-color;
  border-color: $danger-color;
  background-color: #f2dede; }

.has-error .form-control-feedback {
  color: $danger-color; }


.has-error {

  & .k-dropdown-wrap,
    .k-numeric-wrap  {
    border-width: 1px;
    border-color: $danger-color;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

}



/*

.has-error .k-combobox  {
  border: $danger-color;
 // border-color: $danger-color;
  -webkit-box-shadow: none;
}


.has-error .k-numeric-wrap {
  border-width: 1px;
  border-color: $danger-color;
  box-shadow: none;
  -webkit-box-shadow: none;
}

*/