/**  Sortable */


.list {
  list-style: none outside none;
  margin: 10px 0 30px;
}

.apps-container {
  border: 1px dashed #6e6566;
  margin: 0px 0px 0 0;
  padding: 5px;
  min-width:200px;
  min-height:200px;
}

.app {
  padding: 4px 10px;
  margin: 5px 0;
  border: 1px solid $td-primary-color;
  background-color: $td-primary-color;
  color: $primary-color-text !important;
  font-size: 1.0em;
  cursor: move;
}