// Third-party
@import "vendors/material";
@import "vendors/roboto";
@import "vendors/kendo";
@import "vendors/bootstrap";
@import "vendors/bootstrap-toogle";
@import "vendors/ngToast";

// Component
@import "components/bootstrap";
@import "components/kendo";
@import "components/navbar";
@import "components/panel";
@import "components/button";
@import "components/table";
@import "components/toogle";
@import "components/pagination";
@import "components/tooltip";


//@import "variables";

@import "modules/produit";


// Modules and Variables
@import "error";
@import "liste";
@import "base";














