<form novalidate name="vm.form" role="form">
    {{vm.place.geometry.location}}
   <!--   ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }"> -->
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <div class="form-group">
                <label>
                    {{"FAVORI"|translate}}
                </label>
                <i class="material-icons md-36 md-light cursor"
                   ng-model="vm.item.favori"
                   ng-click="vm.item.favori=!vm.item.favori"
                   ng-class="vm.item.favori ? 'md-yellow' : 'md-light'">star</i>
            </div>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-10">
            <div class="form-group has-feedback" ng-class="{'has-error': vm.form.$submitted && vm.form.epicerie_input.$invalid}">
                <label class="control-label for="epicerie_input_id">
                    {{"EPICERIE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       places-auto-complete
                       autocomplete="off"
                       class="form-control input"
                       focus-on="vm.epicerie_input_focus"
                       id="epicerie_input_id"
                       name="epicerie_input"
                       placeholder="Saisisez un lieu"
                       ng-model="vm.item.epicerie"
                       on-place-changed="vm.placeChanged(vm.item.epicerie)"
                       type="text"/>
                       <i ng-show="vm.place.geometry.location" class="form-control-feedback material-icons md-18 md-success">check_circle</i>
                <validate-input form="vm.form" field="vm.form.epicerie_input"></validate-input>
            </div>
        </div>
    </div>

<!--    <script id="searchbox.tpl.html" type="text/ng-template">
        <input required
               autocomplete="off"
               class="form-control input"
               focus-on="epicerie_focus"
               id="epicerie_input_id"
               name="epicerie_input"
               placeholder="Saisisez un lieu"
               ng-model="searchModel.searchTerm"
               type="text">
               <validate-input form="vm.form" field="vm.form.epicerie_input"></validate-input>
    </script> -->

    <ng-map center="45.5699091,-73.5721709" zoom="10"></ng-map>

  <!--  <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyABE67zQOFZrbXJIow-5-kLVD4FpWf52KQ&sensor=false&libraries=places,visualization,drawing,geometry">
        <ng-map center="45.5699091,-73.5721709" zoom="10"></ng-map>
    </div> -->

   <!-- <div>
        <ui-gmap-google-map
            center="vm.map.center"
            zoom="vm.map.zoom"
            options="vm.map.options"
            pan="true">

            <ui-gmap-search-box
                    options="vm.searchbox.options"
                    template="vm.searchbox.template"
                    events="vm.searchbox.events"
                    parentdiv="vm.searchbox.parentdiv">
            </ui-gmap-search-box>

        </ui-gmap-google-map>
    </div> -->

    <div class="row">
        <ng-include
                src="'app/shared/partials/bottom-save-cancel.html'">
        </ng-include>
    </div>
</form>