<form novalidate name="vm.form" role="form">
   <!--   ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }"> -->
    <div class="row">
        <div class="col-md-12 form-group">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.epicerie_input.$invalid}">
                <label for="epicerie_input_id">
                    {{"EPICERIE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>

                <select ng-model="vm.types">
                    <option value="['geocode']">Geodode</option>
                    <option value="['establishment']">Establishment</option>
                    <option value="['address']">Address</option>
                </select><br/>


                <input required
                       places-auto-complete
                       autocomplete="off"
                       class="form-control input"
                       types="{{types}}"
                       id="epicerie_input_id"
                       name="epicerie_input"
                       ng-model="vm.address"
                       on-place-changed="vm.placeChanged()"/>
                       <validate-input form="vm.form" field="vm.form.epicerie_input"></validate-input>
            </div>
        </div>
    </div>
    <div id="searchBoxParent"></div>

    <script id="searchbox.tpl.html" type="text/ng-template">
        <input type="text" placeholder="coucou" style="width: 200px;">
    </script>

    <div>
        <ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                pan="true"
                control="map.control"
        >
            <!--to add as a map control -->
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
                                events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>

            <!--to add to a parent div-->
            <!--<ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>-->





        </ui-gmap-google-map>
    </div>


 <!--   <ui-gmap-google-map class="angular-google-map-container" center="map.center"  zoom="map.zoom">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>
    </ui-gmap-google-map> -->


<!--
    <div ng-show="vm.place">
        Address = {{vm.place.formatted_address}} <br/>
        Location: {{vm.place.geometry.location}}<br/>
        {{vm.place.geometry.location.lat()}}
        {{vm.place.geometry.location.lng()}}
    </div>

    address : {{vm.address}}

    <ng-map
            zoom="17"
            pan-control="true"
            map-type-control="true"
            map-type-control-options="{style:'DROPDOWN_MENU'}"
            zoom-control="true"
            zoom-control-options="{style:'SMALL'}">
    </ng-map> -->

    <div class="row">
        <br>
        <div class="col-md-4 pull-right" style="text-align: right">
            <div class="btn-group">
                <button class="btn btn-primary btn"
                        data-toggle="tooltip"
                        ng-click="vm.save(vm.form, vm.item, false)">
                        <i class="material-icons md-14">check</i>
                        {{"ENREGISTRER"|translate}}
                </button>
                <button aria-haspopup="true"
                        aria-expanded="false"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="vm.form.$submitted = true; vm.save(vm.form, vm.item, true)">{{"AJOUTER_AUTRE_PRODUIT"|translate}}</a></li>
                </ul>
            </div>
            <button class="btn btn-danger btn"
                    data-toggle="tooltip"
                    ng-click="vm.cancel()">
                    <i class="material-icons md-14">close</i>
                    {{"ANNULER"|translate}}
            </button>
        </div>
    </div>
</form>








