<!-- écran de connection local, facebook ou google -->
<div class="row">
    <div class="col-md-8 col-md-offset-2 well" style="opacity: 0.95; font-size: 80%;">
        <legend>Le concept</legend>
        <i>Personne n’aime payer plus cher un produit qu’il trouverait à moindre prix ailleurs.
        Mais acheter 20 boîtes du même produit chez Costco, cela en vaut-il la peine ? Maxi, le panier le moins cher, vraiment ?
        Le produit en spécial devant moi dois-je l'acheter maintenant ou attendre ? En fait, c'est difficile de comparer tous ces produits de formats différents et de retenir les prix !</i>
        </br></br>Le concept derrière « mon épicerie rusée » est de vous fournir un outil vous permettant d'effectuer des achats plus judicieux.
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 well" style="opacity: 0.95;">
        <legend>Connection</legend>
        <div style="float:right; position: relative; top:-10px; font-size: 85%;">
            <a href="/#signup" style="text-decoration: none;">{{"NOUVELLEINSCRIPTION"|translate}}</a>
        </div>


        <br>
        <form novalidate class="form-horizontal" id="vm.form" name="vm.form" role="form">
            <div style="padding-left: 15px; padding-right: 15px;">
                <div class="form-group">
                    <div class="input-group"
                         ng-class="{'has-error': vm.localSign===true && vm.form.$submitted && vm.form.courriel_input.$invalid}">
                        <span class="input-group-addon">
                            <i class="material-icons md-16">email</i>
                        </span>
                        <input auto-focus
                               required
                               autocomplete="off"
                               class="form-control input k-textbox"
                               data-ng-model="vm.courriel"
                               id="courriel_input_id"
                               focus-on="courriel_input_focus"
                               name="courriel_input"
                               placeholder={{"ADRESSECOURRIEL"|translate}}
                               type="email">
                    </div>
                    <validate-input ng-if="vm.localSign===true" form="vm.form" field="vm.form.courriel_input"></validate-input>
                </div>
                <div class="form-group">
                    <div class="input-group"
                        ng-class="{'has-error': vm.localSign===true && vm.form.$submitted && vm.form.motdepasse_input.$invalid}">
                        <span class="input-group-addon">
                            <i class="material-icons md-16">lock</i>
                        </span>
                        <input required
                               autocomplete="off"
                               id="motdepasse_input_id"
                               type="password"
                               class="form-control input k-textbox"
                               focus-on="motdepasse_input_focus"
                               name="motdepasse_input"
                               data-ng-model="vm.motDePasse"
                               data-ng-minlength ="1"
                               placeholder={{"MOTDEPASSE"|translate}}>
                    </div>
                    <validate-input ng-if="vm.localSign===true" form="vm.form" field="vm.form.motdepasse_input"></validate-input>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-info"
                            data-ng-click="vm.localSign=true; vm.signIn('local')">
                            {{"SECONNECTER"|translate}}
                    </button>
                </div>
            </div>




            <!--  <div class="checkbox" style="font-size: 90%; top: 5px;">
                <label>
                    <input id="login-remember"
                           type="checkbox"
                           name="remember"
                           value="1">Se souvenir de moi
                </label>
            </div> -->
            <hr>
            <center><h5>ou</h5></center>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-facebook"
                        data-ng-click="vm.localSign=false; vm.signIn('facebook')">
                        <span class="fa fa-facebook"></span>
                        Facebook
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary" style="background: #db4a39;"
                            data-ng-click="vm.localSign=false; vm.signIn('google')">
                        <span class="fa fa-google-plus"></span>
                        Google
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

