<br>
<div class="col-md-12 col-sm-12 col-xs-12 pull-right" style="text-align: right">
    <button class="btn btn-primary"
            data-toggle="tooltip"
            ng-click="vm.save(vm.form, vm.item)">
        <i class="material-icons md-14">check</i>
        {{"ENREGISTRER"|translate}}
    </button>
    <button class="btn btn-danger"
            data-toggle="tooltip"
            ng-click="vm.cancel()">
        <i class="material-icons md-14">close</i>
        {{"ANNULER"|translate}}
    </button>
</div>