<nav class="navbar nav-custom-pilotage"  role="navigation">
    <div class="container-fluid">

        <div id="navbar-main">
            <ul class="nav navbar-nav navbar-left">
                <li ng-class="{active:isActive('#/categorie')}"> <a  href="/#categorie">{{"CATEGORIES"|translate}}</a></li>
                <li ng-class="{active:isActive('#/epicerie')}"> <a  href="/#epicerie">{{"EPICERIES"|translate}}</a></li>
                <li ng-class="{active:isActive('#/format')}">   <a  href="/#format">{{"FORMATS"|translate}}</a></li>
                <li ng-class="{active:isActive('#/marque')}">   <a  href="/#marque">{{"MARQUES"|translate}}</a></li>
                <li ng-class="{active:isActive('#/unite')}">    <a href="/#unite">{{"UNITES"|translate}}</a></li>
            </ul>
        </div>

        <span class="navbar-form navbar-right">
                <div ng-show="vm.state == 'dsBrowse'">
                    <button class="btn btn-primary"
                            data-toggle="tooltip"
                            ng-click="vm.setInsert()"
                            uib-tooltip={{"HINT_AJOUTER"|translate}}>
                            <i class="material-icons md-14">add</i> {{"AJOUTER"|translate}}
                    </button>
                </div>
                <div ng-show="vm.state != 'dsBrowse'">
                    <button class="btn btn-primary"
                            data-toggle="tooltip"
                            ng-click="vm.cancel()"
                            uib-tooltip={{"RETOUR_LISTE"|translate}}>
                            <i class="material-icons md-14">view_list</i>
                    </button>
                </div>
        </span>
    </div>
</nav>