<form novalidate name="vm.form" role="form"
      ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }">
    <div class="row">
        <div class="col-md-1 form-group">
            <div class="form-group" style="border:0;">
                <label for="favori_input_id">
                    {{"FAVORI"|translate}}
                </label>
                <star-rating
                    id="favori_input_id"
                    class="form-control"
                    style="border:0; box-shadow: none;"
                    max="1"
                    ng-model="vm.rating2">
                </star-rating>

            </div>
        </div>
        <div class="col-md-11 form-group">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.categorie_input.$invalid}">
                <label for="categorie_input_id">
                    {{"CATEGORIE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       focus-on="categorie_focus"
                       id="categorie_input_id"
                       name="categorie_input"
                       ng-model="vm.item.categorie"
                       type="text"/>
                       <validate-input form="vm.form" field="vm.form.categorie_input"></validate-input>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-4 pull-right" style="text-align: right">
            <div class="btn-group">
                <button class="btn btn-primary btn"
                        data-toggle="tooltip"
                        ng-click="vm.save(vm.form, vm.item, false)">
                        <i class="material-icons md-14">check</i>
                        {{"ENREGISTRER"|translate}}
                </button>
                <button aria-haspopup="true"
                        aria-expanded="false"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="vm.form.$submitted = true; vm.save(vm.form, vm.item, true)">{{"AJOUTER_AUTRE_PRODUIT"|translate}}</a></li>
                </ul>
            </div>
            <button class="btn btn-danger btn"
                    data-toggle="tooltip"
                    ng-click="vm.cancel()">
                    <i class="material-icons md-14">close</i>
                    {{"ANNULER"|translate}}
            </button>
        </div>
    </div>
</form>








