<div style="margin: 0;">
    <table class="table table-borderless">
        <thead>
        <tr>
            <th class="col-md-5 col-sm-5 col-xs-5">
                <a href="javascript:void(0)"
                   style="text-decoration:none; color:black;"
                   uib-tooltip={{"HINT_TRIER_NOM"|translate}}
                   ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                    {{"DATE"|translate}}
                    <span ng-show="!vm.sorting.reverse">
                       <i class="material-icons md-16">arrow_drop_down</i>
                   </span>
                    <span ng-show="vm.sorting.reverse">
                       <i class="material-icons md-16">arrow_drop_up</i>
                   </span>
                </a>
            </th>
            <th class="col-md-1 col-sm-1 col-xs-1">
                {{"EPICERIE"|translate}}
            </th>
            <th class="col-md-2 col-sm-2 col-xs-2">
                <!--Empty-->
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in (vm.items | filter: vm.searchItem).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
        ((vm.pagination.currentPage)*vm.pagination.itemsPerPage))  | orderBy : vm.sorting.type:vm.sorting.reverse">
            <td class="col-md-5 col-sm-4 col-xs-5">
                <a ng-click="vm.setEdit(item)">
                    {{item.date | date:'yyyy-MM-dd HH:mm'}}
                </a>
            </td>
            <td class="col-md-5 col-sm-4 col-xs-5">
                {{item.epicerieId.epicerie}}
            </td>
            <td class="col-md-2 col-sm-2 col-xs-2" style="text-align: right;">
                <button class="btn btn-primary btn-sm"
                        data-toggle="tooltip"
                        ng-click="vm.setEdit(item)"
                        uib-tooltip={{"HINT_EDITER_LISTE"|translate}}>
                    <i class="material-icons md-16">edit</i>
                </button>
                <button class="btn btn-danger btn-sm"
                        data-toggle="tooltip"
                        ng-click="vm.remove(item)"
                        uib-tooltip={{"HINT_DETRUIRE_LISTE"|translate}}>
                    <i class="material-icons md-16">delete</i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<pagination
        view-by="vm.pagination.viewBy"
        total-items="vm.items.length"
        current-page="vm.pagination.currentPage"
        items-per-page="vm.pagination.itemsPerPage">
</pagination>