<div class="row subnav" style="margin-bottom: 15px;" >

    <div class="col-md-6 col-sm-6 col-xs-6 padding1">
        <p class="title">{{"LISTES"|translate}}</p>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 text-right padding2" >
        <div ng-show="vm.state == 'dsBrowse'">
            <button class="btn btn-primary"
                    data-toggle="tooltip"
                    ng-click="vm.setInsert()"
                    data-tooltip-placement="right"
                    uib-tooltip={{"HINT_AJOUTER"|translate}}>
                <i class="material-icons md-14">add</i> {{"AJOUTER"|translate}}
            </button>
        </div>
        <div ng-show="vm.state != 'dsBrowse'">
            <button class="btn btn-primary"
                    data-toggle="tooltip"
                    ng-click="vm.cancel()"
                    data-tooltip-placement="bottom-right"
                    uib-tooltip={{"RETOUR_LISTE"|translate}}>
                <i class="material-icons md-14">view_list</i>
            </button>
        </div>
    </div>

</div>

<div class="row" ng-show="vm.state == 'dsBrowse'" style="padding-top: 15px; padding-bottom: 15px;">
    <div class="col-md-12 col-sm-12 col-xm-12" style="padding-left: 0; padding-right: 0px;">
        <search-item
                search-item="vm.searchItem">
        </search-item>
    </div>
</div>

<div class="row">
    <div>
        <div ng-cloak ng-show="vm.state == 'dsInsert' || vm.state == 'dsEdit'" ng-include src="'app/liste/liste.edit.html'"></div>
        <div ng-cloak ng-show="vm.state == 'dsBrowse'" ng-include src="'app/liste/liste.list.html'"></div>
    </div>
</div>
