// sets base style for each page

@import "variables";

// http://www.alsacreations.com/astuce/lire/1216-arriere-plan-background-extensible.html

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height:100%;
}

body{
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  min-height:100%; // Workaround for some mobile browsers
}

// remove all corner
* {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

// backroung caddy for authentification
.caddy-bg {
  /* This image will be displayed fullscreen */
  background:url('../images/back01.jpg') no-repeat center center;
  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;
  background-size: cover;
}

.angular-google-map-container {
  height: 400px;
}

.noDecoration :hover {
  text-decoration: none;
}

/*:focus {
  @include state-focused;
}*/

.bgPrimaryColor {
  background-color: $primary-color  !important;
}

.txtPrimaryColor {
  color: $primary-color-text !important;
}

a:hover, a:visited, a:link, a:active
{
  cursor: pointer;
  text-decoration:  none !important;
}

//textarea, input, button { outline: none; }


