// Third-party
@import "vendors/material";
@import "vendors/roboto";
@import "vendors/kendo";
@import "vendors/bootstrap";
@import "vendors/bootstrap-toogle";
@import "vendors/ngToast";

// Component
// @import "components/addon";
@import "components/bootstrap";
@import "components/kendo";
// @import "components/input";
@import "components/navbar";
@import "components/panel";
@import "components/button";
@import "components/table";
@import "components/toogle";
@import "components/pagination";
@import "components/tooltip";
@import "components/starRating";
@import "components/ngToast";
@import "components/search";
@import "components/footer";
@import "variables";

@import "modules/accueil";
@import "modules/produit";
@import "modules/listeBase";


// Modules and Variables
@import "error";
@import "liste";
@import "base";














