<form novalidate name="vm.form" role="form">
  <!--    ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }">-->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.marque_input.$invalid}">
                <label for="marque_input_id">
                    {{"MARQUE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input"
                       focus-on="marque_focus"
                       id="marque_input_id"
                       name="marque_input"
                       ng-model="vm.item.marque"
                       type="text"/>
                       <validate-input form="vm.form" field="vm.form.marque_input"></validate-input>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12 pull-right" style="text-align: right">

                <button class="btn btn-primary btn"
                        data-toggle="tooltip"
                        ng-click="vm.save(vm.form, vm.item)">
                        <i class="material-icons md-14">check</i>
                        {{"ENREGISTRER"|translate}}
                </button>
            <button class="btn btn-danger btn"
                    data-toggle="tooltip"
                    ng-click="vm.cancel()">
                    <i class="material-icons md-14">close</i>
                    {{"ANNULER"|translate}}
            </button>
        </div>
    </div>
</form>








