<div>


    <div class="row">

        <div class="col-md-8 col-sm-8 col-xs-8">

            <h1>Accueil </h1>

            <br>
            <ul>
                <li>Voulez-vous créer une nouvelle liste d'épicerie ou en modifier existante ?</li>

                <li>Ajouter un produit ou rechecher un produit ?</li>

                <li>Utiliser l'outil de comparaison de produit</li>
            </ul>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">


            <div class="panel panel-default ">
                <div class="panel-heading bgPrimaryColor txtPrimaryColor">Liste rapide
                    <span class="navbar-right" style="margin-right:0px;">
                        <i class="material-icons md-20 cursor">delete</i>
                    </span>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-10 col-sm-10 col-xs-10">

                            <label for="produit_input_id">
                                {{"PRODUIT"|translate}}
                            </label>
                            <input data-kendo-auto-complete = "vm.produitWidget"
                                   data-k-options="vm.inputOptionsProduit"
                                   id="produit_input_id"
                                   ng-model="vm.produit"
                                   style="width: 100%;" />

                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;padding-top:27px">
                            <button type="button" class="btn btn-primary" style="height: 37px;"
                               ng-click="vm.addListeRapide()">
                               <i class="material-icons md-24 cursor">add</i>
                            </button>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <ul>
                            <li ng-repeat="item in vm.items">
                                {{item.produit}}
                            </li>
                        </ul>

                    </div>

                </div>
            </div>


        </div>

    </div>


</div>