<div>


    <div class="row">

        <div class="col-md-8">

            <div class="row">

                <div class="col-md-6">
                    <div class="offer offer-primary">
                        <div class="shape">
                            <div class="shape-text">
                                <i class="material-icons">dashboard</i>
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                <label class="label label-primary">Listes</label>
                            </h3>
                            <ul style="list-style-type: none;">
                                <li><a href="/#liste"><i class="material-icons">view_list</i> Listes d'épicerie</a></li>
                                <li><a href="/#liste?state=insert"><i class="material-icons">add_circle</i> Créer une liste d'épicerie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="offer offer-primary">
                        <div class="shape">
                            <div class="shape-text">
                                <i class="material-icons">shopping_basket</i>
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                <label class="label label-primary">Produits</label>
                            </h3>
                            <ul style="list-style-type: none;">
                                <li><a href="/#liste"><i class="material-icons">view_list</i> Listes d'épicerie</a></li>
                                <li><a href="/#liste?state=insert"><i class="material-icons">add_circle</i> Créer une liste d'épicerie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            </br>

            <div class="row">

                <div class="col-md-12">
                    <div class="offer offer-primary">
                        <div class="shape">
                            <div class="shape-text">
                                <i class="material-icons">dashboard</i>
                            </div>
                        </div>
                        <div class="offer-content">
                            <h3 class="lead">
                                <label class="label label-primary">Configuration</label>
                            </h3>
                            <ul style="list-style-type: none;">
                                <li><a href="/#liste"><i class="material-icons">view_list</i> Listes d'épicerie</a></li>
                                <li><a href="/#liste?state=insert"><i class="material-icons">add_circle</i> Créer une liste d'épicerie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-4 col-sm-4 col-xs-4">


            <div class="panel panel-default ">
                <div class="panel-heading bgPrimaryColor txtPrimaryColor">Liste rapide
                    <span class="navbar-right" style="margin-right:0px;">
                        <i ng-click="vm.deleteListeRapide()"
                           class="material-icons md-20 cursor">delete</i>
                    </span>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-10 col-sm-10 col-xs-10">

                            <label for="produit_input_id">
                                {{"PRODUIT"|translate}}
                            </label>
                            <input data-kendo-auto-complete = "vm.produitWidget"
                                   data-k-options="vm.inputOptionsProduit"
                                   id="produit_input_id"
                                   ng-model="vm.produit"
                                   style="width: 100%;" />

                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-2" style="padding-left:0px;padding-top:27px">
                            <button type="button" class="btn btn-primary" style="height: 37px;"
                               ng-click="vm.addListeRapide()">
                               <i class="material-icons md-24 cursor">add</i>
                            </button>
                        </div>

                    </div>

                    <br>

                    <div class="row">

                        <div style="margin: 15px;">
                            <div
                                 ng-repeat="item in vm.items">
                                <div class="app">
                                <span style="float:right;">
                                  <i class="material-icons md-hover-16 cursor"
                                     aria-hidden="true" ng-click="vm.removeItem(item, $index)">clear</i>
                                </span>
                                <span style="max-width: 10px;" >{{item.produit}} </span>
                                <span data-ng-show="item.marque">
                                    {{item.marque}}
                                </span>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>


</div>


<!--       <div class="col-md-8">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title">Raccourcis</h3>
               </div>
               <div class="panel-body">
                   <div class="row">
                       <div class="col-xs-12 col-md-12">
                           <a href="#" class="btn btn-primary btn-lg" role="button"><i class="material-icons">dashboard</i> <br/>Ma liste</a>
                           <a href="#" class="btn btn-primary btn-lg" role="button"><i class="material-icons">shopping_basket</i> <br/>Produits</a>
                           <a href="#" class="btn btn-primary btn-lg" role="button"><i class="material-icons">shopping_basket</i> <br/>Comparatifs</a>
                       </div>

                   </div>

               </div>
           </div>
       </div> -->