<div class="panel panel-default noborder" style="padding-left: 0px; padding-right: 0px; padding-top: 10px">

    <div class="panel-heading"><b> {{"PRIX"|translate}}</b>
        <i class="material-icons md-18">help_outline</i>
    </div>

    <div class="panel-body" style="padding-bottom: 0">

        <div class="row">

            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.prix_input.$invalid}">
                    <label for="prix_input_id">
                        <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                           tabIndex="-1"
                           data-ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                            {{"PRIX"|translate}}<span style="color: lightgray;" uib-tooltip={{"PRIX_EPICERIE"|translate}}>*</span>
                            <span data-ng-show="!vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_down</i></span>
                            <span data-ng-show="vm.sorting.reverse"><i class="material-icons md-16">arrow_drop_up</i></span>
                        </a>
                    </label>
                    <input
                        autocomplete="off"
                        data-kendo-numeric-text-box
                        data-k-min="0.00"
                        id="prix_input_id"
                        name="prix_input"
                        data-ng-model="vm.item.prix"
                        data-ng-required='!vm.item.prix && vm.item.epicerieId'
                        type="number"
                        style="width: 100%"/>
                        <validate-input form="vm.form" field="vm.form.prix_input"></validate-input>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"EPICERIE"|translate}}<span style="color: lightgray;" uib-tooltip={{"PRIX_EPICERIE"|translate}}>*</span>
                    </label>
                    <select data-kendo-combo-box="vm.epicerieWidget"
                            data-k-options="vm.selectOptionsEpicerie"
                            data-k-ng-model="vm.item.epicerieId"
                            data-ng-model="vm.item.epicerieId"
                            data-ng-required='vm.item.prix && !vm.item.epicerieId.epicerie'
                            id="epicerieId_select_edit_id"
                            name="epicerieId_select"
                            ng-class="{'has-error': vm.form.$submitted && vm.form.epicerieId_select.$invalid}"
                            style="width: 100%">
                    </select>
                    <validate-input form="vm.form" field="vm.form.epicerieId_select"></validate-input>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="epicerieId_select_edit_id">
                        {{"DATE"|translate}}
                    </label>
                    <input data-kendo-date-picker
                           data-k-options="vm.datePickerOptions"
                           data-k-ng-model="vm.item.date"
                           id="date_input_id2"
                           name="date_input"
                           style="width: 100%"/>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12" style="height: 66px; padding-top:27px">
                <toggle id="enPromotion_toogle_id"
                        style="height: 37px"
                        onstyle="btn-success"
                        ng-model="vm.item.enPromotion"
                        ng-change="changed()" on="En promotion  " off="Prix régulier  ">
                </toggle>
            </div>

        </div>
    </div>

</div>