@import "../variables";
@import "../mixin";

heightX {
  @include height34;
}

input.k-textbox {
  @include height34;
  width: 100% !important;

  &:focus {
    @include state-focused;
  }
}

textarea.k-textbox {
  width: 100% !important;

  &:focus {
    @include state-focused;
  }
}



/*.k-widget.k-multiselect {
  @include height34;
}*/


.k-multiselect {

  @include height34;

  .k-button {
    color: $primary-color-text;
    border-color: $primary-color;
    background-color: $primary-color;
  }

  .k-multiselect-wrap {
    min-height: 37px !important;

    & > .k-input {
      margin-top: 5px;
      color: darkgrey;
  }
  }
}

/*
.k-multiselect-wrap>.k-input {
  margin-top: 5px;
}

.k-multiselect-wrap>.k-input:focus {
  color: #000;
}*/

.k-state-focused {
  @include state-focused;
}


// input.k-textbox:focus {
  //@include state-focused;
//}

/*
.input-group {
  @include height(34);
} */

/*
.k-height {
  @include height(34);
}



.k-widget {
  @include height(34);
} */





//.k-icon {
//  background-color: red;
//}

//.input[type=text]:focus {
//  @include state-focused;
//}

//.k-textbox.k-space-right:hover {
//  @include state-focused;
//}

//.input-group:focus {
//  @include state-focused;
//}

//.form-control:focus {
//  border-color: #FF0000;
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
//}

//input:focus + .input-group-addon {
//  background: red;
//  color: white;
//}






// .k-input:focus{border-color: $accent-color;  box-shadow: none; -webkit-box-shadow: none;}
// .k-widget:focus{border-color: $accent-color;  box-shadow: none; -webkit-box-shadow: none;}


