
/*
.star-rating {
  position:absolute;
  top:22px;
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    color: #666;
    padding: 1px;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.clear {
      color: red; // #fd0;
    }

    &.filled {
      color: green; // #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}
*/

starx {
  cursor: pointer;
}

filled {
  color: green; // #fd0;
}

clear {
  color: red; // #fd0;
}

