<!-- écran de connection local, facebook ou google -->
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 well" style="opacity: 0.95;">
        <legend>Connection</legend>
        <div style="float:right; position: relative; top:-10px; font-size: 85%;">
            <a href="/#signup">{{"NOUVELLEINSCRIPTION"|translate}}</a>
        </div>
        <br>
        <form ng-submit="vm.signIn('local')" novalidate class="form-horizontal" id="vm.form" name="vm.form" role="form">
            <div style="padding-left: 15px; padding-right: 15px;">
                <div class="form-group">
                    <div class="input-group"
                         ng-class="{'has-error': vm.form.$submitted && vm.form.courriel_input.$invalid}">
                        <span class="input-group-addon">
                            <i class="material-icons md-16">email</i>
                        </span>
                        <input required
                               autocomplete="off"
                               class="form-control input k-textbox"
                               data-ng-model="vm.courriel"
                               id="courriel_input_id"
                               name="courriel_input"
                               placeholder={{"ADRESSECOURRIEL"|translate}}
                               type="email">
                    </div>
                    <validate-input form="vm.form" field="vm.form.courriel_input"></validate-input>
                </div>
                <div class="form-group">
                    <div class="input-group"
                        ng-class="{'has-error': vm.form.$submitted && vm.form.motdepasse_input.$invalid}">
                        <span class="input-group-addon">
                            <i class="material-icons md-16">lock</i>
                        </span>
                        <input required
                               autocomplete="off"
                               id="motdepasse_input_id"
                               type="password"
                               class="form-control input k-textbox"
                               name="motdepasse_input"
                               data-ng-model="vm.motDePasse"
                               data-ng-minlength ="1"
                               placeholder={{"MOTDEPASSE"|translate}}>
                    </div>
                    <validate-input form="vm.form" field="vm.form.motdepasse_input"></validate-input>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-info"
                            type="submit">
                            {{"SECONNECTER"|translate}}
                    </button>
                </div>
            </div>
            <!--  <div class="checkbox" style="font-size: 90%; top: 5px;">
                <label>
                    <input id="login-remember"
                           type="checkbox"
                           name="remember"
                           value="1">Se souvenir de moi
                </label>
            </div> -->
            <hr>
            <center><h5>ou</h5></center>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-facebook"
                        data-ng-click="vm.signIn('facebook')">
                        <span class="fa fa-facebook"></span>
                        Facebook
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary" style="background: #db4a39;"
                            data-ng-click="vm.signIn('google')">
                        <span class="fa fa-google-plus"></span>
                        Google
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

