<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title with-font-xlarge pull-left">
            Liste des formats
        </span>
        <div class="pull-right">
            <button class="btn btn-primary"
                    data-toggle="tooltip"
                    ng-click="vm.setInsert()"
                    title="Ajouter un nouveau format">
                <span class="glyphicon glyphicon-plus"></span> Ajouter un format
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">

        <form name="vm.form">

            <div clas="row">
                <search-item
                        search-item="vm.searchItem">
                </search-item>
            </div>

               <pre>"Dirty : " {{vm.form.$dirty}}</pre>
               <pre>"Pristine : " {{vm.form.$pristine}}</pre>

            <div clas="row">

                <table class="table .noborder">
                    <thead>
                        <tr style="display: hidden">
                            <th class="col-md-10 col-sm-10">
                                <a href="javascript:void(0)" style="text-decoration:none; color:black;"
                                   ng-click="vm.sorting.reverse = !vm.sorting.reverse">
                                    Format
                                    <span ng-show="!vm.sorting.reverse" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.sorting.reverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th class="col-md-2 col-sm-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    <!-- Insert box -->
                    <tr ng-show="vm.state == 'dsInsert'" style="border: 0px;">
                        <td>
                            <input autocomplete="off"
                                   class="form-control input-sm"
                                   focus-on="insertItem_focus"
                                   id="insertItem_input_id"
                                   name="insertItem_input"
                                   ng-keyup="vm.cancelInsertEsc($event)"
                                   ng-model="vm.insertItem"
                                   type="text"/>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary btn-sm"
                                    data-toggle="tooltip"
                                    ng-click="vm.create()"
                                    ng-disabled="vm.insertItem==''"
                                    title="Ajouter">
                                <b>Ajouter</b>
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    ng-click="vm.cancelInsert()"
                                    data-toggle="tooltip"
                                    title="Annuler">
                                <span class="fa fa-times fa-lg"></span>
                            </button>
                        </td>
                    </tr>


                    <tr data-ng-repeat="item in (vm.items | filter: vm.searchItem).slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage),
                            ((vm.pagination.currentPage)*vm.pagination.itemsPerPage))  | orderBy:vm.sorting.type:vm.sorting.reverse"
                        ng-include="vm.getTemplate(item)">

                        <!--     <tr ng-repeat="item in vm.items| orderBy:vm.sorting.type:vm.sorting.reverse" ng-keyup="vm.cancelEsc($event,item)" ng-include="vm.getTemplate(item)"> -->

                        <!-- Display box -->
                        <script type="text/ng-template" id="display">
                            <td>
                                {{item.format}}
                            </td>
                            <td align="right">
                                <button class="btn btn-primary btn-sm"
                                        data-toggle="tooltip"
                                        ng-click="vm.setEdit(item)"
                                        title="Éditer un format">
                                    <span class="fa fa-pencil fa-lg"></span>
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        data-toggle="tooltip"
                                        ng-click="vm.remove(item)"
                                        title="Détruire un format">
                                    <span class="fa fa-trash-o fa-lg"></span>
                                </button>
                            </td>
                        </script>

                        <!-- Edit box -->
                        <script type="text/ng-template" id="edit">
                            <td>
                                <input model-change-blur
                                       autocomplete="off"
                                       class="form-control input-sm"
                                       focus-on="editItem_focus"
                                       id="editItem_input_id"
                                       name="editItem_input"
                                       ng-blur="vm.cancelEdit(item)"
                                       ng-focus="vm.freezeOrderBy()"
                                       ng-keydown="vm.updateByEnter($event,item)"
                                       ng-keyup="vm.cancelEditEsc($event, item)"
                                       ng-model=item.format
                                       type="text"/>
                            </td>

                            <!--    ng-change="vm.cancelEdit(item)"
                              ng-model-options="{ 'updateOn': 'blur'}"-->

                            <td align="right">
                                <button class="btn btn-primary btn-sm"
                                        data-toggle="tooltip"
                                        ng-mousedown="vm.update(item)"
                                        title="Sauvegarder">
                                    <span class="fa fa-check fa-lg"></span>
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        data-toggle="tooltip"
                                        ng-mousedown="vm.cancelEdit(item)"
                                        title="Annuler">
                                    <span class="fa fa-times fa-lg"></span>
                                </button>
                            </td>
                        </script>
                    </tr>
                    </tbody>
                </table>

                <pagination
                        view-by="vm.pagination.viewBy"
                        total-items="vm.items.length"
                        current-page="vm.pagination.currentPage"
                        items-per-page="vm.pagination.itemsPerPage">
                </pagination>

            </div>

        </form>

    </div>


</div>


<!--

                <div class="col-md-6 col-sm-6 col-xs-6 ">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="vm.pagination.viewBy"
                               ng-click="vm.setItemsPerPage(vm.pagination.viewBy)"
                               uib-btn-radio="5">5</label>
                        <label class="btn btn-primary" ng-model="vm.pagination.viewBy"
                               ng-click="vm.setItemsPerPage(vm.pagination.viewBy)"
                               uib-btn-radio="25">25</label>
                        <label class="btn btn-primary" ng-model="vm.pagination.viewBy"
                               ng-click="vm.setItemsPerPage(vm.pagination.viewBy)"
                               uib-btn-radio="50">50</label>
                    </div>

                </div> -->

<!--
<pagination
        view-by="vm.pagination.viewBy"
        total-items="vm.items.length"
        current-page="vm.pagination.currentPage"
        items-per-page="vm.pagination.itemsPerPage"
</pagination> -->


<!-- <div class="col-md-6  col-sm-6 col-xs-6 text-right">
                    <uib-pagination boundary-links="true"
                                    total-items="vm.items.length"
                                    ng-model="vm.pagination.currentPage"
                                    items-per-page="vm.pagination.itemsPerPage"
                                    first-text="<<"
                                    previous-text="<"
                                    next-text=">"
                                    last-text=">>">
                    </uib-pagination>
                </div> -->

