<form novalidate name="vm.form" role="form">
    <!--   ng-model-options="{ updateOn: 'default', debounce: { 'default': 100, 'blur': 0 } }"> -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="input-group">
                <input auto-focus
                       autocomplete="off"
                       places-auto-complete
                       class="form-control input k-textbox"
                       focus-on="searchPlace_focus"
                       id="searchPlace_input_id"
                       name="searchPlace_input"
                       ng-keyup="cancelEsc($event)"
                       placeholder="Saisissez un lieu ou une adresse"
                       ng-model="vm.searchPlace"
                       on-place-changed="vm.placeChanged(searchPlace)"
                       type="text"
                       style="height: 39px !important;">
                <span class="input-group-btn">
                     <button type="button"
                             class="btn btn-primary"
                             style="margin-left:0px !important; padding-top:9px !important; padding-bottom:9px !important;"
                             ng-click="vm.clearPlace()"
                             uib-tooltip-html="tips">
                             <i class="material-icons">close</i>
                     </button>
                </span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <div class="form-group">
                <label>
                    {{"FAVORI"|translate}}
                </label>
                <i class="material-icons md-36 md-light cursor"
                   ng-model="vm.item.favori"
                   ng-click="vm.item.favori=!vm.item.favori"
                   ng-class="vm.item.favori ? 'md-yellow' : 'md-light'">star</i>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="form-group" ng-class="{'has-error': vm.form.$submitted && vm.form.epicerie_input.$invalid}">
                <label  for="epicerie_input_id">
                  {{"EPICERIE"|translate}}<span style="color: red;" uib-tooltip={{"VALEUR_OBLIGATOIRE"|translate}}>*</span>
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input k-textbox"
                       focus-on="epicerie_input_focus"
                       id="epicerie_input_id"
                       name="epicerie_input"
                       placeholder="Saisisez un nom d'épicerie"
                       ng-model="vm.item.epicerie"
                       type="text"/>
                       <validate-input form="vm.form" field="vm.form.epicerie_input"></validate-input>
            </div>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="form-group">
                <label class="control-label" for="epicerie_input_id">
                    {{"ADRESSE"|translate}}
                </label>
                <input required
                       autocomplete="off"
                       class="form-control input k-textbox"
                       focus-on="adresse_input_focus"
                       id="adresse_input_id"
                       name="adresse_input"
                       placeholder="Saisisez une adresse"
                       ng-model="vm.item.adresse"
                       type="text"/>
            </div>
        </div>

    </div>


    <ng-map center=[{{vm.latitude}},{{vm.longitude}}]
            zoom={{vm.zoom}}>
            <marker position="[{{vm.latitude}},{{vm.longitude}}]"
                    title={{vm.item.epicerie}}>
            </marker>
    </ng-map>

    <div class="row">
        <ng-include
            src="'app/shared/partials/bottom-save-cancel.html'">
        </ng-include>
    </div>

</form>